body{
}
div {
}
.row{
 border-bottom:1px solid black;   
}
#side{
    background-color:rgba(255,255,255,.8);
    padding:40px;
}
#map{
}
#title{font-family:Baskerville; font-size:36px; position:fixed;top:0px;left:0px;padding:10px;background-color:rgba(255,255,255,.5);}
#subtitle{font-family:Baskerville; font-size:16px;position:fixed;top:60px;left:0px; padding:10px;background-color:rgba(255,255,255,.5);}
.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

.tile path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
   stroke-width: .3;
}

.tile .major_road { stroke-width: .3; }
.tile .minor_road { stroke-width: .3; }
.tile .highway {stroke-width: .3; }
.tile .rail { stroke-width: .1 }

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}